/* NAVBAR */
.navbar-expand-lg.navbar-light.bg-light{
  background-color: #EABCAC !important;
  height: 100px !important;
}
.navbar-brand{
  font-size: 30px;
}
.nav-item.active{
 font-size: 20px;
}
.nav-item {
  font-size: 20px;
}

/* INDEX PAGE */
.index-background{
  background-color:  #874E4C;
}

/* MEET THE TEAM - Staff Images*/
.rounded-circle{
  width: 10rem;
}

/* Quiz */
.quiz-title {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
}

.questionWrap img{
  height: 100%;
  width: 50%;
}

/* Find my style button */
.quizResultBtn{
  margin: 20px auto 5em auto;
  width: 25rem;
}

/* Result > Celebrity Match Image */
.result-image{
  width: 100%;
}
/* Result > Shop the Look */
.btn.btn-info.btn-lg{
  width: 300px;
}

/* After Quiz Nav */
.after-quiz-nav{
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #32485C;
}

.jumbotron {
  background-color: #EABCAC;
}

.meettheteam {
  background-color: #874E4C;
}

.about{
  background-color: #E2B091;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
