/* NAVBAR */
.navbar-expand-lg.navbar-light.bg-light{
  background-color: #EABCAC !important;
  height: 100px !important;
}
.navbar-brand{
  font-size: 30px;
}
.nav-item.active{
 font-size: 20px;
}
.nav-item {
  font-size: 20px;
}

/* INDEX PAGE */
.index-background{
  background-color:  #874E4C;
}

/* ABOUT PAGE */
.about{
  margin: 30px;
  background-color: #E2B091;
}

/* MEET THE TEAM - Staff Images*/
.rounded-circle{
  width: 10rem;
  align: center;
}

.meettheteam {
  background-color: #F7DFD4;
  display:flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

/* Quiz */
.counter{
  font-size: 25px;
  margin: 32px;
  text-align: center;
}

.quiz-header-wrap{
  border-bottom: 1px solid black;
}

.quiz-title {
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
}
/* adds shadow */
.questionWrap{
  padding:5px;
}

.questionWrap .questionInner {
 -webkit-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  padding:10px;
}
/* hover is a psuedo-class that you are able to put on any element */
.questionWrap:hover{
  cursor: pointer;
}

.active-question{
  padding: 20px 0;
}

.active-question h5{
  font-size: 28px;
  text-transform: uppercase;
}

.questionWrap img{
  height: 493px;
  width: 100%;
  display:block;
  margin:0 auto;
}

.questionWrap p{
  font-size: 25px;
}

.textOnly{
  height: 250px;
  padding:5px;
  margin-bottom:10px;
}

.textOnly .questionInner {
  height:250px;
  padding:10px;
}

/* Find my style button */
.quizResultBtn{
  margin: 20px auto 5em auto;
  width: 25rem;
}

/* Result > Celebrity Match Image */
.result-image{
  width: 100%;
}
/* Result > Shop the Look */
.btn.btn-info.btn-lg{
  width: 300px;
}

/* After Quiz Nav */
.after-quiz-nav{
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #559E8D;
}

footer{
  background-color: #EABCAC;
}

footer ul{
  list-style: none;
}

footer .card{
  background: none;
  border: none;
}

/* RECOMMENDATION STYLES */
.recommendation-outer  {
  margin-top:7.5px;
  margin-bottom:7.5px;
}
.recommendation-inner {
  -webkit-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  padding:10px;
}

.recommendation-controls {
  margin-top:10px;
}

.recommendation-controls p {
  margin-bottom:0px;
}
.recommendation-controls button {
  width:100%;
}
/*******************/
/* WARDROBE STYLES */
/*******************/
.wardrobe-single {
  margin: 7.5px 0px;
}
.wardrobe-inner {
  -webkit-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  padding:5px;
}
.wardrobe-single img {
  width:100%;
  margin:0 auto;
}

.wardrobe-single button {
  width:100%;
}