/* NAVBAR */
.navbar-expand-lg.navbar-light.bg-light{
  background-color: #EABCAC !important;
  height: 100px !important;
}
.navbar-brand{
  font-size: 30px;
}
.nav-item.active{
 font-size: 20px;
}
.nav-item {
  font-size: 20px;
}

/* INDEX PAGE */
.index-background{
  background-color:  #874E4C;
}

/* ABOUT PAGE */
.about{
  padding: 2rem 25rem 80px 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F7DFD4;

}

/* MEET THE TEAM - Staff Images*/
.rounded-circle{
  width: 10rem;
  align: center;
}

.meettheteam {
  background-color: #F7DFD4;
  align-items: center;
  padding: 60px;
}

.meettheteam .position-title{
  margin-top: 15px;
  font-size: 18px;
}
/* Quiz */
.found-it{
  margin-bottom: 80px;
}

.counter{
  font-size: 25px;
  margin: 32px;
  text-align: center;
}

.quiz-header-wrap{
  border-bottom: 1px solid black;
}

.quiz-title {
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
}
/* adds shadow */
.questionWrap{
  padding:5px;
}

.questionWrap .questionInner {
 -webkit-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  padding:10px;
}
/* hover is a psuedo-class that you are able to put on any element */
.questionWrap:hover{
  cursor: pointer;
}

.active-question{
  padding: 20px 0;
}

.active-question h5{
  font-size: 28px;
  text-transform: uppercase;
}

.questionWrap img{
  height: 453px;
  width: 100%;
  display:block;
  margin:0 auto;
}

.questionWrap p{
  font-size: 25px;
}

.textOnly{
  height: 250px;
  padding:5px;
  margin-bottom:10px;
}

.textOnly .questionInner {
  height:250px;
  padding:10px;
}

/* Find my style button */
.quizResultBtn{
  margin: 20px auto 5em auto;
  width: 25rem;
}

/* Result > Celebrity Match Image */
.result-image{
  width: 100%;
}
/* Result > Shop the Look */
.btn.btn-info.btn-lg{
  width: 300px;
}

/* After Quiz Nav */
.after-quiz-nav{
  padding: 1px;
  color: white;
  background-color: #E2B091;
}

.after-quiz-nav .btn-primary{
  background-color: #874E4C;
  border: none;
}

.resultText{
  padding: 50px;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #EABCAC;
  padding: 16px 0 8px 0;
}

footer ul{
  list-style: none;
  padding-left: 0px;
}

footer ul li{
  display: inline-block;
  margin-right: 15px;
}

.footer-link{
  text-align: left;
}

.footer-sig{
  text-align: right;
  color: black;
}

.footer-sig .fa-heart{
  color: red;
}

/* RECOMMENDATION STYLES */
.recommendation-outer  {
  margin-top:7.5px;
  margin-bottom:7.5px;
}
.recommendation-inner {
  -webkit-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  padding:10px;
}

.recommendation-controls {
  margin-top:10px;
}

.recommendation-controls p {
  margin-bottom:0px;
}
.recommendation-controls button {
  width:100%;
}
/*******************/
/* WARDROBE STYLES */
/*******************/
.wardrobe-single {
  margin: 7.5px 0px;
}
.wardrobe-inner {
  -webkit-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  box-shadow: 1px 1px 7px 0px rgba(168,151,168,1);
  padding:5px;
}
.wardrobe-single img {
  width:100%;
  margin:0 auto;
}

.wardrobe-single button {
  width:100%;
}

/*ACCOUNT STYLES*/
.account {
  display: flex;
  justify-content: center;
  background-color: white;
}

.details {
  margin-left:5rem;
  font-size: 1.5rem;
}

.input-details {
  background-color: #f7dfd47a;
  margin-left:1rem;
}