.carousel {
  position: relative;
  margin: 20px auto;
  height: 423px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  overflow:hidden;
  height: 423px;
}

.carousel-item > img {
vertical-align: middle;
width: 100%;
}

.icons .welcomeText h1{
  color: #F7DFD4;
  font-size: 39px;
  line-height: 44px;
}

.icons {
  margin-top: 15px;
}

.icons i{
  color: #F7DFD4;
  margin-right: 5px;
  display: block;
}

.icons p{
  color: #F7DFD4;
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.icons p i{
  font-size: 27px;
  margin-top: 0px;
}

.icons .welcomeText p {
  color: #F7DFD4;
  font-size: 25px;
  margin-bottom: 27px;
  margin-top: 20px;
}

.indexbutton {
  margin-top: 10px;
  margin-bottom: 25px;
}

.full-width-button{
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Poiret One', cursive; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


